.container {
    padding: 150px 140px;
}

.title {
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color: #242424;
}